body {

    background-color: #e5e5e5;

}

h1 {
    text-align: center;
    background-color: #283618;
    color: #e0fbfc;
    position: relative;
}

h2 {
    background-color: #1b3a4b;
    color: #d4e09b;
}



#links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;

}

/* Unvisited link will be black with no underline */
nav a {
    color: black;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

/* when mouse over a link (a:hover) it will become blue and underlined: */

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

.list {
    display: flex;
    list-style: none;
    gap: 25px;
}

/* hamburger icon settings */
#hamburger {
    display: none;
}

label i {
    color: black;

}

#aboutme {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

#summary {
    line-height: 1.5;
    text-align: justify;
}

#technical-skills {
    list-style-type: square;
    text-align: justify;
    line-height: 1.5;
}

/* Grid Container */

.table-container {
    display: grid;
    /* Define column widths using fr units for flexibility or fixed units like px */
    grid-template-columns: repeat(4, 1fr);
    /* Creates 4 equal columns */
    border: 1px solid black;
}

.table-header,
.table-row {
    display: contents;
    border: 1px solid black;
    /* Allows children to be placed directly in the grid */
}

.header-cell,
.table-cell {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

.header-cell {
    font-weight: bold;
    background-color: #b7b7a4;
}

.project-name {
    color: #9b2226;
}



#image {
    height: 250px;
    width: 250px;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 30px 0 30px 0;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 50px 50px 50px 50px;


}