   @media screen and (max-width: 768px) {
       #aboutme {
           flex-direction: column;
           font-size: smaller;
           margin: 1.5rem;
           padding: 1em;
       }

       h1 {
           text-align: center;
           background-color: #264653;
           color: #ccd5ae;
           font-size: 2.5em;
           margin: 1.5rem;

       }


   }

   @media screen and (min-width:769px) and (max-width: 1023px) {

       body {
           margin: 2rem;
           padding: 1em;
       }

       #aboutme {
           flex-direction: column;
           font-size: small;
 
       }

       h1 {
         
           background-color: #264653;
           color: #ccd5ae;
           font-size: 2em;
           margin: 1.5rem;

       }


   }

   @media only screen and (min-width: 1024px) {
       #aboutme {
           flex-direction: column;
           font-size: larger;
            margin: 1em;
       }

       h1 {
           text-align: center;
           background-color: #283618;
           color: #e0fbfc;
           font-size: 25px;
            margin: 1em;
       }


   }

   /* Using Hamburger Menu */
   @media screen and (max-width: 768px) {

       .menu {
           width: 100%;
           max-height: 0;
           overflow: hidden;
       }

       label {
           display: inline-flex;
       }

       #hamburger:checked~.menu {
           max-height: 100%;
       }

       .list {
           flex-direction: column;
           align-items: center;
           padding: 20px;
       }

   }